body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('src/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    color: #fff;
}

.game-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-selection {
    margin: 20px 0;
}

.game-selection button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#game-area {
    margin-top: 20px;
}

.choice, #guess-button, .cell {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.choice img {
    width: 50px;
    height: 50px;
}
